@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/product/style.css">
    <title>Dat Hang</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="img text-center">
                    <img src="/img/product/SamSungS23.webp" alt="">
                </div>
                <div class="info">
                    <p class="title text-center fw-bold">
                        Samsung Galaxy S23 Ultra 12GB/512GB - Chính hãng
                        <br>
                        <span class="text-center text-secondary">512GB - Đen (SKU: S918UD)</span>
                    </p>
                    <p class="price text-center">
                        <i class="lighting fa-solid fa-bolt-lightning" style="color: #fd475a"></i>
                        <span class="new_price fw-bold">23,990,000 ₫</span>
                        <span class="old_price text-decoration-line-through text-secondary">36,990,000 ₫</span>
                    </p>
                </div>

                <div class="offer-list">
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM1</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Giảm thêm tới 1.000.000đ khi tham gia Thu cũ - Lên đời điện thoại Android</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM2</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>TPBank EVO - Ưu đãi giảm 40% tối đa 400.000đ khi mở thẻ tín dụng TPBank EVO thành công.</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM3</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Home PayLater - Trả góp qua Home PayLater giảm tới 1.000.000đ</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM4</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>VPBank - Mở thẻ VPBank, dùng Apple Pay, ưu đãi tới 1.250.000đ.</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM5</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>ZaloPay - Giảm 1% tối đa 300.000đ khi thanh toán qua ZaloPay.</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM6</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Ưu đãi Youtube Premium dành cho chủ sở hữu Samsung Galaxy (Áp dụng một số sản phẩm)</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM7</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>VIB - Nhận Voucher 250.000đ khi mở thẻ tín dụng VIB thành công.</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM8</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Samsung Finance+ - Ưu đãi trả góp 0% qua Samsung Finance+ (Áp dụng tại 57 chi nhánh).</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM9</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Kredivo - Ưu đãi tới 200.000đ khi mua trước trả sau qua Kredivo.</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM10</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Tặng SIM Wintel (Áp dụng tại các chi nhánh độc lập với đơn hàng mua Điện thoại, Máy tính bảng, Đồng hồ hoặc các sản phẩm khác với hoá đơn trên 2.000.000đ).</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM11</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Shinhan Finance - Ưu đãi trả góp 0% qua Shinhan Finance.</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offer-item mb-3">
                        <div class="stt">
                            <p class="text-white mb-1">KM12</p>
                        </div>
                        <div class="offer-border">
                            <div class="offer-content">
                                <label class="radio-promo">
                                    <span>Sản phẩm đang thuộc chương trình Flash sale (Số lượng có hạn). mua chỉ với giá 23,990,000</span>
                                    <input checked class="cart-promote" type="radio">
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hotline mt-2 mb-2">
                    <a href="#" class="btn btn-close-white text-center text-white d-block hotline_btn">
                        <i class="fa-solid fa-headset" style="color: #fff;"></i>
                        <strong>1900.2091</strong>
                    </a>
                    <p class="fst-italic text-center text-secondary">Phím 1 - Hotline bán hàng online</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <h3 class="fw-bold fs-4 mb-3">Đặt hàng sản phẩm</h3>
                <div class="list_options">
                    <div class="select_color">
                        <p class="fw-bold mb-1">Chọn màu sắc</p>
                        <div class="options">
                            <div class="option">
                                <a href="" class="options_link text-decoration-none">
                                    <label class="option_item">
                                        <i class="fa-regular fa-circle option_icon" style="background-color: #3c4042;"></i>
                                        <span class="fw-bold option_color">Đen</span>
                                    </label>
                                    <strong class="text-danger">23,990,000 ₫</strong>
                                </a>
                            </div>
                            <div class="option">
                                <a href="" class="options_link text-decoration-none">
                                    <label class="option_item">
                                        <i class="fa-regular fa-circle option_icon" style="background-color: #f2eee7;"></i>
                                        <span class="fw-bold option_color">Kem</span>
                                    </label>
                                    <strong class="text-danger">23,990,000 ₫</strong>
                                </a>
                            </div>

                            <div class="option">
                                <a href="" class="options_link text-decoration-none">
                                    <label class="option_item">
                                        <i class="fa-regular fa-circle option_icon" style="background-color: #319295;"></i>
                                        <span class="fw-bold option_color">Xanh</span>
                                    </label>
                                    <strong class="text-danger">23,990,000 ₫</strong>
                                </a>
                            </div>

                            <div class="option">
                                <a href="" class="options_link text-decoration-none">
                                    <label class="option_item">
                                        <i class="fa-regular fa-circle option_icon" style="background-color: #661ca7;"></i>
                                        <span class="fw-bold option_color">Tím</span>
                                    </label>
                                    <strong class="text-danger">23,990,000 ₫</strong>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="select_version">
                        <p class="fw-bold mb-1">Chọn phiên bản</p>
                        <div class="options">
                            <div class="option">
                                <a href="" class="options_link text-decoration-none">
                                    <label class="option_item">
                                        <i class="fa-regular fa-circle option_icon"></i>
                                        <span class="fw-bold option_color">256GB</span>
                                    </label>
                                    <strong class="text-danger">21,290,000 ₫</strong>
                                </a>
                            </div>
                            <div class="option">
                                <a href="" class="options_link text-decoration-none">
                                    <label class="option_item">
                                        <i class="fa-regular fa-circle option_icon"></i>
                                        <span class="fw-bold option_color">512GB</span>
                                    </label>
                                    <strong class="text-danger">23,990,000 ₫</strong>
                                </a>
                            </div>

                            <div class="option">
                                <a href="" class="options_link text-decoration-none">
                                    <label class="option_item">
                                        <i class="fa-regular fa-circle option_icon"></i>
                                        <span class="fw-bold option_color">1TB</span>
                                    </label>
                                    <strong class="text-danger">34,990,000 ₫</strong>
                                </a>
                            </div>


                        </div>
                    </div>

                    <div class="number mt-3 mb-3">
                        <p class="fw-bold mb-1">Số lượng</p>
                        <div class="control_number">
                            <button class="fw-bold" type="button">-</button>
                            <input class="text-center fw-bold" type="text" value="1" name="" id="">
                            <button class="fw-bold" type="button">+</button>
                        </div>
                    </div>

                    <div class="order_form">
                        <label class="fw-bold">Họ tên</label>
                        <div class="row">
                            <div class="col">
                                <div class="control">
                                    <input name="title" type="text" placeholder="Họ và tên*" data-required="1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="fw-bold mt-2">Điện thoại</label>
                                <div class="control">
                                    <input name="title" type="text" placeholder="Số điện thoại*" data-required="1">
                                </div>
                            </div>
                            <div class="col">
                                <label class="fw-bold mt-2">Email</label>
                                <div class="control">
                                    <input name="title" type="text" placeholder="Email*" data-required="1">
                                </div>
                            </div>
                        </div>
                        <label class="fw-bold mt-2">Hình thức nhận hàng</label>
                        <div class="row recive">
                            <div class="col">
                                <div class="option_pay">
                                    <label class="radio-promo">
                                        <span class="fw-bold">Nhận hàng tại nhà</span>
                                        <input type="radio" value="" class="select_payment">
                                        <span class="check-mark">
                                            <span class="select_payment--check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="option_pay">
                                    <label class="radio-promo">
                                        <span class="fw-bold">Nhận hàng tại cửa hàng</span>
                                        <input type="radio" value="" class="select_payment">
                                        <span class="check-mark">
                                            <span class="select_payment--check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <label class="fw-bold mt-2">Nơi nhận hàng</label>
                        <div class="row">
                            <div class="col">
                                <div class="control">
                                    <select class="location border-0 p-1" name="" id="" placeholder="Tỉnh/Thành phố">
                                        <option value="">Tỉnh/Thành phố *</option>
                                        <option value="1">Hà Nội</option>
                                        <option value="50">TP HCM</option>
                                        <option value="57">An Giang</option>
                                        <option value="49">Bà Rịa - Vũng Tàu</option>
                                        <option value="15">Bắc Giang</option>
                                        <option value="62">Bạc Liêu</option>
                                        <option value="18">Bắc Ninh</option>
                                        <option value="35">Bình Định</option>
                                        <option value="47">Bình Dương</option>
                                        <option value="45">Bình Phước</option>
                                        <option value="39">Bình Thuận</option>
                                        <option value="63">Cà Mau</option>
                                        <option value="59">Cần Thơ</option>
                                        <option value="32">Đà Nẵng</option>
                                        <option value="42">Đắk Lắk</option>
                                        <option value="43">Đắk Nông</option>
                                        <option value="7">Điện Biên</option>
                                        <option value="48">Đồng Nai</option>
                                        <option value="56">Đồng Tháp</option>
                                        <option value="41">Gia Lai</option>
                                        <option value="23">Hà Nam</option>
                                        <option value="28">Hà Tĩnh</option>
                                        <option value="19">Hải Dương</option>
                                        <option value="20">Hải Phòng</option>
                                        <option value="11">Hoà Bình</option>
                                        <option value="21">Hưng Yên</option>
                                        <option value="37">Khánh Hòa</option>
                                        <option value="58">Kiên Giang</option>
                                        <option value="44">Lâm Đồng</option>
                                        <option value="6">Lào Cai</option>
                                        <option value="51">Long An</option>
                                        <option value="24">Nam Định</option>
                                        <option value="27">Nghệ An</option>
                                        <option value="25">Ninh Bình</option>
                                        <option value="38">Ninh Thuận</option>
                                        <option value="16">Phú Thọ</option>
                                        <option value="36">Phú Yên</option>
                                        <option value="29">Quảng Bình</option>
                                        <option value="33">Quảng Nam</option>
                                        <option value="34">Quảng Ngãi</option>
                                        <option value="14">Quảng Ninh</option>
                                        <option value="30">Quảng Trị</option>
                                        <option value="61">Sóc Trăng</option>
                                        <option value="9">Sơn La</option>
                                        <option value="46">Tây Ninh</option>
                                        <option value="22">Thái Bình</option>
                                        <option value="12">Thái Nguyên</option>
                                        <option value="26">Thanh Hóa</option>
                                        <option value="31">Thừa Thiên Huế</option>
                                        <option value="52">Tiền Giang</option>
                                        <option value="5">Tuyên Quang</option>
                                        <option value="55">Vĩnh Long</option>
                                        <option value="17">Vĩnh Phúc</option>
                                        <option value="10">Yên Bái</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="control">
                                    <select class="location border-0 p-1" name="" id="" placeholder="Cửa hàng">
                                        <option value="1">Cửa hàng*</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="control">
                                    <textarea class="border-0 location" name="" id="" cols="30" rows="5" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m-4">
                                <div class="col-center text-center">
                                    <div class="control">
                                        <input type="text" name="" id="" placeholder="Mã giảm giá (Nếu có)">
                                        <a href="" class="voucher-btn text-white text-decoration-none d-block border-0 ">Sử dụng</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center m-3">
                                <p>Bằng cách đặt hàng bạn đã đồng ý với điều khoản sử dụng và chính sách đổi trả</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="control_button text-center">
                                <button type="submit" class="text-uppercase text-white btn_order border-0  fw-bold fs-5">Tiến hành đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
    <script src="./main.js"></script>
</body>


