<head>
    <link rel="stylesheet" href="./css/cart.css" />
</head>
<section>
    <div class="container">
        <div class="cart">
            <div class="header">
                <div class="back">
                    <a href="" class="non-underscore">
                        <i class="fa-solid fa-chevron-left fa-fade fa-2xl" style="color: #006351;"></i>
                        <strong class="larger-text">Quay lại</strong>
                    </a>
                </div>
            </div>


            <div class="cart-layout">
                <div class="cart-content">
                    <div class="no-items">
                        <div class="cart-icon">
                            <i class="fa-regular fa-circle-xmark" style="color: #00483d;"></i>
                            <h2 class="cart-text fw-bold">Giỏ hàng</h2>
                        </div>
                        <div class="img">
                            <img src="https://hoanghamobile.com/Content/web/content-icon/no-item.png" />
                            <p><strong>Hiện chưa có sản phẩm nào trong giỏ hàng</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

