<head>
    <link rel="stylesheet" href="./css/home.css" />
</head>
<div class="container">
    <div class="slide-show">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="./img/slider1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/slider2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/slider3.png" class="d-block w-100" alt="...">
                </div>
            </div>
            @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> *@
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mb-3 fs-6 fw-bold">
        <i class="fa-solid fa-house"></i>
        Trang chủ
    </h1>
    <div class="sort-product">
        <label for="">Lọc danh sách:</label>

        <ul class="sort-product_list">
            <li class="sort-product_item">
                <span>
                    Thương hiệu
                    <i class="fa-solid fa-angle-down"></i>
                </span>
                <div class="product-dropdown h-auto">
                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <a href="#">Apple</a>
                        </li>
                        <li>
                            <a href="#">Sam Sung</a>
                        </li>
                        <li>
                            <a href="#">Oppo</a>
                        </li>
                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <a href="#">Nokia</a>
                        </li>
                        <li>
                            <a href="#">Vivo</a>
                        </li>
                        <li>
                            <a href="#">Xiaomi</a>
                        </li>
                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <a href="#">Realmi</a>
                        </li>
                        <li>
                            <a href="#">Huawei</a>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="sort-product_item">
                <span>
                    Giá
                    <i class="fa-solid fa-angle-down"></i>
                </span>
                <div class="product-dropdown h-auto">
                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <a href="#">Dưới 1 triệu</a>
                        </li>
                        <li>
                            <a href="#">1-4 triệu</a>
                        </li>
                        <li>
                            <a href="#">4-8 triệu</a>
                        </li>

                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <a href="#">8-12 triệu</a>
                        </li>
                        <li>
                            <a href="#">12-16 triệu</a>
                        </li>
                        <li>
                            <a href="#">16-20 triệu</a>
                        </li>

                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <a href="#">20-100 triệu</a>
                        </li>

                        <li>
                            <a href="#">Trên 100 triệu</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="sort-product_item">
                <span>Khuyến mại</span>
            </li>

            <li class="sort-product_item">
                <span>
                    Sắp xếp
                    <i class="fa-solid fa-angle-down"></i>
                </span>
                <div class="product-dropdown h-auto" style="min-width: 150px">
                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <a href="#">Mặc định</a>
                        </li>
                        <li>
                            <a href="#">Sản phẩm mới</a>
                        </li>
                        <li>
                            <a href="#">Sản phẩm cũ</a>
                        </li>
                        <li>
                            <a href="#">Giá cao đến thấp</a>
                        </li>
                        <li>
                            <a href="#">Giá thấp đến cao</a>
                        </li>
                    </ul>

                </div>
            </li>

        </ul>

    </div>
    <!-- for mobile -->
    <ul class="sort-product-mb text-center p-0 list-unstyled allow-scroll">

        <li class="sort-product-mb_item btn btn-success" onclick="dropdown();">
            <span>
                Thương hiệu
                <i class="fa-solid fa-caret-down"></i>
            </span>

        </li>
        <li class="sort-product-mb_item">
            <a href="" class="sort-product-mb_btn btn btn-success">Mới nhất</a>
        </li>

        <li class="sort-product-mb_item">
            <a href="" class="sort-product-mb_btn btn btn-success ">Khuyến mại</a>
        </li>

        <li class="sort-product-mb_item">
            <a href="" class="sort-product-mb_btn btn btn-success ">Giá thấp</a>
        </li>

        <li class="sort-product-mb_item">
            <a href="" class="sort-product-mb_btn btn btn-success ">Giá cao</a>
        </li>


    </ul>
    <div class="product-dropdown-mb product-dropdown">
        <ul class="product-dropdown_list list-unstyled">
            <li>
                <a href="#">Apple</a>
            </li>
            <li>
                <a href="#">Sam Sung</a>
            </li>
            <li>
                <a href="#">Oppo</a>
            </li>
        </ul>

        <ul class="product-dropdown_list list-unstyled">
            <li>
                <a href="#">Nokia</a>
            </li>
            <li>
                <a href="#">Vivo</a>
            </li>
            <li>
                <a href="#">Xiaomi</a>
            </li>
        </ul>

        <ul class="product-dropdown_list list-unstyled">
            <li>
                <a href="#">Realmi</a>
            </li>
            <li>
                <a href="#">Huawei</a>
            </li>
        </ul>
    </div>
    <!--  -->
    <div class="products">
        <h2 class="products_title fw-bold">Danh sách sản phẩm</h2>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-3 g-lg-2 g-xl-2">
            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15_pink.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15_plus.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/redminote12-0.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/redminote12-0.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15_pink.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="product">
                    <div class="product_img" style="background-image: url(./img/iphone_15.png);"></div>
                    <div class="product-info">
                        <h6 class="product-info_name">iPhone 15 Pro Max (512GB) - Chính hãng VN/A</h6>
                        <span class="product-info_price">39,750,000 ₫</span>
                        <label class="product-info_label">Giá lên đời từ: <span>37,750,000 ₫</span></label>
                    </div>
                    <div class="note">
                        <span class="bag">KM</span>
                        <label title="Đã sẵn hàng màu Titan Xanh.">Đã sẵn hàng màu Titan Xanh.</label>
                        <span>VÀ 11 KM KHÁC</span>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>
<div class="page">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@section ScriptDropDown{
    <script>
        function dropdown() {
            $(".product-dropdown").toggleClass("d-flex")
            $(".sort-product-mb").toggleClass("allow-scroll")
            $(".sort-product-mb").toggleClass("remove-scroll")
        }
    </script>
}