<head>
    <link rel="stylesheet" href="./css/login.css" />
</head>
<div >
    <!--login-->
    <div class="container main" id="mainLogin">
        <div class="main_log">
            <div class="row">
                <div class="main_log-form d-flex flex-column justify-content-center col-sm-12 col-md-6">
                    <p class="fs-25px fw-500">Đăng Nhập</p>
                    <h5 class="fs-13px mb-4">
                        Vui lòng đăng nhập để nhận nhiều ưu đãi dành riêng cho thành viên.
                    </h5>
                    <div class="row justify-content-around" style="margin-bottom: 2rem">
                        <div class="form-main col-9">
                            <div class="row mb-4 space">
                                <p class="id col-3 fs-14px fw-500">Email</p>
                                <input class="w-75 form-control form-control-sm"
                                       type="email"
                                       id="email"
                                       required
                                       placeholder="Vui lòng nhập địa chỉ email"
                                       aria-label=".form-control-sm example" />
                                <div class="invalid-feedback invalid-feedback-email">
                                    Vui lòng kiểm tra lại email của bạn
                                </div>
                            </div>
                            <div class="row space">
                                <p class="fs-14px fw-500 col-3">Mật khẩu</p>
                                <div class="p-0 m-0 col-9 position-relative">
                                    <input class="col-12 form-control form-control-sm h-100"
                                           type="password"
                                           required
                                           aria-label=".form-control-sm example"
                                           id="pwd" />
                                    <i class="fa-solid fa-eye-slash position-absolute icon_password"
                                       onclick="hiddenShowPassword(event,`pwd`)"></i>
                                </div>

                                <div class="invalid-feedback invalid-feedback-password">
                                    Mật khẩu không được để trống
                                </div>
                            </div>
                        </div>
                        <button class="log-btn col-2 border-0"
                                type="submit"
                                style="background-color: rgba(0, 0, 0, 0)"
                                onclick="validateLoginData()"></button>
                    </div>
                    <div class="row justify-content-around ms-1">
                        <div class="form-check col-5 ps-0">
                            <input class="form-check-input"
                                   id="rememberMe"
                                   type="checkbox"
                                   style="margin-left: -6px; margin-right: 9px; cursor: pointer"
                                   value=""
                                   id="flexCheckChecked"
                                   checked />
                            <label class="form-check-label" for="flexCheckChecked">
                                Nhớ mật khẩu
                            </label>
                        </div>
                        <div class="div-mb-4"
                             style="
                  width: 1px;
                  height: 16px;
                  background-color: #002;
                  padding: 0;
                  display: table;
                  margin: auto;
                  margin-left: 18px;
                "></div>
                        <div class="forgot-pass-btn col-5">
                            <a href="./In-developing.html"
                               class="text-decoration-none"
                               target="_blank"><i class="ti-hand-point-right"></i> Quên mật khẩu</a>
                        </div>
                    </div>
                    <div class="mt-3 col-xs-12 col-12">
                        <div class="d-flex justify-content-center"
                             onclick="appearRegisterForm()">
                            <span>
                                <i class="ti-user"></i> Chưa có tài khoản. Đăng kí tại
                                <a class="blue-text text-decoration-none cursor-pointer">
                                    đây
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block log-img"></div>
            </div>
        </div>
    </div>
    <!--/login-->
    <!--register-->
    <div class="container main" id="mainRegister">
        <p class="fs-25px fw-500">Đăng Kí</p>
        <h5 class="fs-13px mb-4">
            Đăng kí để nhận nhiều ưu đãi dành riêng cho thành viên.
        </h5>
        <div class="d-flex justify-content-around" style="margin-bottom: 2rem">
            <div class="form-main col-md-10 col-xs-10">
                <div class="row mb-4 space">
                    <p class="id col-3">Họ và tên:</p>
                    <input class="col-9 form-control form-control-sm w-75"
                           type="text"
                           id="name"
                           required
                           placeholder="Vui lòng nhập đầy đủ họ tên "
                           aria-label=".form-control-sm example" />
                    <div class="invalid-feedback invalid-feedback-regis-name">
                        Tên không hợp lệ
                    </div>
                </div>
                <div class="row mb-4 space">
                    <p class="id col-3">Email</p>
                    <input class="col-9 form-control form-control-sm w-75"
                           type="email"
                           id="res_email"
                           required
                           placeholder="Vui lòng nhập địa chỉ email"
                           aria-label=".form-control-sm example" />
                    <div class="invalid-feedback invalid-feedback-res-email">
                        Vui lòng kiểm tra lại email của bạn
                    </div>
                </div>
                <div class="row space mb-4">
                    <p class="passw col-3">Mật khẩu</p>

                    <div class="p-0 m-0 col-9 position-relative">
                        <input class="col-12 form-control form-control-sm"
                               type="password"
                               required
                               aria-label=".form-control-sm example"
                               id="res_pwd"
                               style="height: 100%" />
                        <i class="fa-solid fa-eye-slash position-absolute icon_password"
                           onclick="hiddenShowPassword(event,`res_pwd`)"></i>
                    </div>

                    <div class="invalid-feedback invalid-feedback-res_password">
                        Mật khẩu không được để trống !
                    </div>
                </div>
                <div class="row space mb-4">
                    <p class="passw col-3">Nhập lại mật khẩu</p>
                    <div class="p-0 m-0 col-9 position-relative">
                        <input class="col-12 form-control form-control-sm"
                               type="password"
                               required
                               aria-label=".form-control-sm example"
                               id="re_pwd"
                               style="height: 100%" /><i class="fa-solid fa-eye-slash position-absolute icon_password"
                                                         onclick="hiddenShowPassword(event,`re_pwd`)"></i>
                    </div>
                    <div class="invalid-feedback invalid-feedback-regis-re_password">
                        Mật khẩu không trùng khớp
                    </div>
                </div>
                <div class="row space mb-4">
                    <p class="passw col-3">Nhập ngày sinh của bạn</p>
                    <div class="col-xs-7 col-md-8" style="padding: 0; width: 75%">
                        <input id="startDate" class="form-control" type="date" />
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary regis-btn"
                            onclick="validateRegisterData()"
                            ;
                            type="button">
                        Đăng kí
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="back_to_login m-4 text-center"
                          onclick="appearLoginForm()">
                        Bạn đã có tài khoản.
                        <span class="blue-text text-decoration-none cursor-pointer">Quay lại đăng nhập</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    function appearRegisterForm() {
    $("#mainLogin").hide(300);
    $("#mainRegister").show(1000);
    }
    function appearLoginForm() {
    $("#mainRegister").hide(300);
    $("#mainLogin").show(1000);
    }

    //check valid data
    const validateLoginData = () => {
    let res_valid = false;
    let re = /^\S+@@\S+\.\S+$/;
    //email
    let v = $("#email").val();
    if (re.test(v) == false) {
        $(".invalid-feedback-email").addClass("show");
    } else $(".invalid-feedback-email").removeClass("show");
    //password
    if ($("#pwd").val().length == 0) {
        $(".invalid-feedback-password").addClass("show");
        return false;
    } else $(".invalid-feedback-password").removeClass("show");
    };

    const validateRegisterData = () => {
    let res_valid = false;
    let re = /^\S+@@\S+\.\S+$/;
    let v = $("#res_email").val();
    if (re.test(v) == false) {
        $(".invalid-feedback-res-email").addClass("show");
        res_valid = true;
    } else {
        $(".invalid-feedback-res-email").removeClass("show");
    }
    if ($("#name").val().length == 0) {
        $(".invalid-feedback-regis-name").addClass("show");
        res_valid = true;
    } else {
        $(".invalid-feedback-regis-name").removeClass("show");
    }
    if (
        $("#res_pwd").val() == $("#re_pwd").val() &&
        `${$("#re_pwd").val()}` !== ""
    ) {
        $(".invalid-feedback-regis-re_password").removeClass("show");
    } else {
        $(".invalid-feedback-regis-re_password").addClass("show");
        res_valid = true;
    }
    if ($("#res_pwd").val().length == 0) {
        $(".invalid-feedback-res_password").addClass("show");
        res_valid = true;
    } else {
        $(".invalid-feedback-res_password").removeClass("show");
    }
    };

    //sync enter key
    document.addEventListener("keyup", syncEnterKey);
    function syncEnterKey(event) {
    if (event.keyCode === 13) {
        validateLoginData();
    }
    }

    const hiddenShowPassword = (e, id) => {
    let idQuery = "#" + id;
    console.log($(idQuery).attr("type"));
    if ($(idQuery).attr("type") == "text") {
        $(idQuery).attr("type", "password");
    } else {
        $(idQuery).attr("type", "text");
    }
    };
</script>

}